body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
}

input {
    width: 100%;
    height: 45px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px; 
    text-align: center;
    margin-top: 20px;
}

select {
    width: 110%;
    height: 65px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px; 
    text-align: center;
    margin-top: 20px;
}

.form button {
    width: 40%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: #458ff6;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease-in;

}

.form button:hover {
    background-color: #5C469C;
}
